---
layout: page
---
<article class="page-article-content">
	{{ content }}
</article>

<div class="publications">
	<ol>
{% assign sortedpubs = site.data.pubs | sort: pubyear[0] %}
{% for pubyear in sortedpubs reversed %}
	{% unless page.author %}
		<h3>
			<b>{{pubyear[0] | remove: 'publications_'}}</b>
		</h3>
	{% endunless %}
	{% assign publications = pubyear[1] %}
	{% for pubs in publications %}
		{% assign pub = pubs[1] %}
		{% assign rejected = false %}
		{% if page.author %}
			{% assign rejected = true %}
			{% for auth in pub.authors %}
				{% if auth == page.author %}
					{% assign rejected = false %}
					{% break %}
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if rejected %}
			{% continue %}
		{% endif %}
		<li>
		{% for auth in pub.authors %}
  		{% if site.data.employees[auth] %}
				{% if pub.lang %}
					{% assign p = "p." %}
   				{% assign author = site.data.employees[auth].translate[pub.lang] %}
				{% else %}
   				{% assign p = "c." %}
   				{% assign author = site.data.employees[auth] %}
				{% endif %}
   		<a href="{{site.baseurl}}/employees/#{{ name }}">
 	  		{% if author.shortname %}
					{{author.shortname}}
				{% else %}
     			{{author.surname}} {{author.firstname | truncate:1,''}}.{% if author.patronymic %}{{author.patronymic | truncate:1,''}}.{% endif %}
    		{% endif %}
			</a>
  {% else %}
   {{auth}}
  {% endif %}
   {% unless forloop.last %},{% endunless %}
  {% endfor %}
	{{pub.name}}. —
	{% if pub.origin %}{{pub.origin}}:{% endif %}
	{% if pub.journal %}{{pub.journal}},{% endif %}
	{%if pub.conference %}{{pub.conference}},{% endif %}
	{{pub.year}}.
	{% if pub.pages %} — {{p}}{{pub.pages | join: '-'}}{% endif %}
	{% if pub.mpages %} — {{p}}{{pub.mpages | join: ','}}{% endif %}
	{% if pub.npages %}{{pub.npages}}С.{% endif %}
	{% if pub.doi %}<b>DOI</b>:<i>{{pub.doi}}</i>{% endif %}
	{% if pub.link %}
		{% assign url = pub.link.url %}
		{% assign prefix = "" %}
		{% if pub.link.internal %}
			{% assign prefix = site.baseurl | append: "/" %}
		{% endif %}
		<a href="{{prefix}}{{url}}">{% if pub.link.type == "pdf" %}Скачать PDF{% else %}Abstract{% endif %}</a>
		{% endif %}
	</li>
	{% endfor %}
	{% unless page.author %}
	<hr>
	{% endunless %}
{% endfor %}
	</ol>
</div>
